
/* div-pages-container to div-page6 */

.div-pages-container {
  width: 100%;
  height: fit-content;
}
.div-page1 {
  width:100%;
  height:fit-content;
}
.div-page2 {
  width:100%;
  height:fit-content;
  
}
.div-page3 {
  width:100%;
  height:fit-content;
}
.div-page4 {
  width:100%;
  height:fit-content;
}
.div-page5 {
  width:100%;
  height:fit-content;
}
.div-page6 {
  width:100%;
  height:fit-content;
}
.divmain {
  display:flex;
  justify-content: center;
  position: absolute;
  
}
body {
  position: relative;
  margin:0;

}

.puta {
  color: #088178;
  position: relative;
  cursor: pointer;
}
/* Fading animation */
.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

.acteb::after {
  content: "";
  width: 100%;
  height:2px;
  background:#088178;
  position:absolute;
  bottom: -4px;
  right: 0;
  left:0;
}


/* Shop page */

#page-header2 {
  background-image: url("project3.img/banner/b1.jpg");
  width:100%;
  height:40vh;
  background-size:contain;
  display: flex;
  justify-content:center;
  text-align: center;
  flex-direction: column;
  padding:14px;
}
#page-header2 h2,
#page-header2 p {
  color: #fff;
}

/* pagination */
#pagination {
  text-align: center;
  margin-top: 50px;
}
#pagination a{
  text-decoration: none;
  background-color: #088178;
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
#pagination a i{
  font-size: 16px;
  font-weight: 600;
}



/* Blog page */


#page-header3.blog-header{
  background-image: url("project3.img/banner/b19.jpg");
  background-size: cover;
  background-position: center;
  width:100%;
  height:40vh;
  background-repeat: no-repeat;
  display: flex;
  justify-content:center;
  text-align: center;
  flex-direction: column;
  padding:14px;
}
#blog{
  padding: 150px 150px 0 150px;
}
#blog .blog-box{
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 90px;
}
#blog .blog-img{
  width: 50%;
  margin-right:40px;
}
#blog img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position:top;
}
#blog .blog-details{
  width: 50%;
}
#blog .blog-details a{
  text-decoration: none;
  font-size: 11px;
  color:#000;
  font-weight: 700;
  position: relative;
  transition: 0.3s;
}

#blog .blog-details a::after{
  content: "";
  width: 50px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 4px;
  right:-60px;
  transition: 0.3s;
}
#blog .blog-details a:hover {
  color: #088178;
}
#blog .blog-details a:hover:after {
  background-color: #088178;
}
#blog .blog-box h1{
  position: absolute;
  top: -40px;
  left: 0;
  font-size: 70px;
  font-weight: 700;
  color:#c9cbce;
  z-index: -1;
}
.blog-header h2,
.blog-header p  {
  color: white;
}


@media (max-width:1150px) {
  #hero {
    padding: 0 120px; 
}
#feature {
  padding: 40px 250px;
}
#sm-banner {
  padding: 40px 40px;
}
#sm-banner .banner-box {
  min-width: 500px;
  height: 40vh;
}
#banner3 {
  padding: 0 40px;
}

}


@media (max-width:505px) {
  /* blog page */
#blog {
  padding: 100px 20px 0 20px;
}

#blog .blog-box {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  width: 100%;
  position: relative;
  padding-bottom: 90px;
}
#blog .blog-img {
  width: 100%;
  margin-right:0px;
  margin-bottom: 30px;
}
#blog .blog-details{
  width: 100%;
}

/* About page */
#about-head {
  display: flex;
  flex-direction: column;
}

#about-head  img {
  width:100%;
  margin-bottom: 20px;
}
#about-head div {
  padding-left: 0px;
}
#about-app .video {
  width:100%;
}
}

/* About Page */


#page-header4.about-header{
  background-image: url(project3.img/about/banner.png);
  background-size: cover;
  background-position: center;
  width:100%;
  height:40vh;
  background-repeat: no-repeat;
  display: flex;
  justify-content:center;
  text-align: center;
  flex-direction: column;
  padding:14px;
}
.about-header h2,
.about-header p {
  color: #fff;
}
#about-head{
  display: flex;
  align-items: center;
}
#about-head img{
  width: 50%;
  height: auto;
}
#about-head div{
  padding-left: 40px;
}
#about-app {
  text-align: center;
}
#about-app .video{
  width: 70%;
  height:100%;
  margin: 30px auto 0 auto;
}
#about-app .video video{
  width:100%;
  height: 100%;
  border-radius: 20px;
}

/* Contact */

#page-header5.about-header{
  background-image: url(project3.img/about/banner.png);
  background-size: cover;
  background-position: center;
  width:100%;
  height:40vh;
  background-repeat: no-repeat;
  display: flex;
  justify-content:center;
  text-align: center;
  flex-direction: column;
  padding:14px;
}
.about-header h2,
.about-header p {
  color: #fff;
}

#contact-details{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#contact-details .details{
  width: 40%;
}
#contact-details .details span,
#form-details form span {
  font-size: 12px;
}
#contact-details .details h2,
#form-details form h2{
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
}
#contact-details .details h3{
  font-size: 16px;
  padding-bottom: 15px;
}
#contact-details .details li{
  list-style: none;
  display: flex;
  padding: 10px 0;
}
#contact-details .details li i{
  font-size: 14px;
  padding-right: 22px;
}
#contact-details .details li p{
  margin: 0;
  font-size: 14px;
}
#contact-details .map {
  width: 55%;
  height: 400px;
}
#contact-details .map iframe {
  width: 100%;
  height: 100%;
}

#form-details {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 80px;
  border: 1px solid #e1e1e1;
}

#form-details form{
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#form-details form input,
#form-details form textarea{
  width:100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
}
#form-details form button{
  background-color: #088178;
  color: #fff;
}
#form-details .people div{
  padding-bottom:25px;
  display: flex;
  align-items: flex-start;
}
#form-details .people div img {
  width: 65px;
  height: 65px;
  object-fit: cover;
  margin-right: 15px;
}
#form-details .people div p{
  margin: 0;
  font-size: 13px;
  line-height: 25px;
}
#form-details .people div p span{
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}